body {
  overflow-x: hidden;
}

.top__section {
  background-color: #777777;
}

.footer {
  padding: 35px 0;
}

.footer__list {
  padding: 0;
  list-style-type: none;
}

.deff {
  color: #999;
  padding: 2px .425em;
}